# Import / Read_csv

In [196]:
import pandas as pd
import numpy as np

In [197]:
age18_1 = pd.read_csv('data/age18_1.csv', index_col = 0)
age18_1

C:\Users\User\anaconda3\envs\ml\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (44,127,291,312,328,409,528,543) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,mod_d,id,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,HEI_TVEG,HEI_VEG,HEI_PROTF,HEI_DAIRY,HEI_SFA,HEI_NA,HEI_SWEET,HEI_CHO,HEI_FAT,HEI_EN
0,b'2022.03.08',b'A701020501',b'A7010205',2018.0,1.0,1.0,2.0,b'A701',1.0,80.0,...,1.367163,0.775022,5.800000,0.000000,5.273475,10.000000,10.00000,5.000000,5.000000,0.000000
1,b'2022.03.08',b'A701021301',b'A7010213',2018.0,1.0,1.0,2.0,b'A701',1.0,78.0,...,4.881043,1.641812,10.000000,10.000000,10.000000,3.418798,10.00000,4.345249,2.956568,5.000000
2,b'2022.03.08',b'A701021302',b'A7010213',2018.0,1.0,1.0,2.0,b'A701',2.0,75.0,...,3.367648,4.943629,4.849725,10.000000,0.000000,9.806158,10.00000,5.000000,5.000000,5.000000
4,b'2022.03.08',b'A701023303',b'A7010233',2018.0,1.0,1.0,2.0,b'A701',2.0,80.0,...,4.619405,0.437024,1.951565,0.000000,10.000000,8.029505,10.00000,0.000000,0.000000,1.244134
5,b'2022.03.08',b'A701023304',b'A7010233',2018.0,1.0,1.0,2.0,b'A701',2.0,71.0,...,2.459564,3.503124,2.135875,10.000000,0.000000,10.000000,10.00000,3.477269,5.000000,5.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7917,b'2022.03.08',b'R707025101',b'R7070251',2018.0,8.0,2.0,1.0,b'R707',1.0,80.0,...,4.416187,2.885425,10.000000,10.000000,0.000000,8.998990,10.00000,5.000000,5.000000,5.000000
7918,b'2022.03.08',b'R707025102',b'R7070251',2018.0,8.0,2.0,1.0,b'R707',2.0,78.0,...,5.000000,5.000000,10.000000,10.000000,4.507390,8.732486,10.00000,5.000000,5.000000,5.000000
7927,b'2022.03.08',b'R707031101',b'R7070311',2018.0,8.0,2.0,1.0,b'R707',2.0,72.0,...,4.272867,2.311358,8.429599,0.000000,10.000000,8.892053,10.00000,4.095630,4.206483,0.000000
7983,b'2022.03.08',b'R708028503',b'R7080285',2018.0,8.0,1.0,2.0,b'R708',2.0,66.0,...,3.398006,3.656502,10.000000,0.023505,10.000000,10.000000,10.00000,5.000000,5.000000,0.000000
7987,b'2022.03.08',b'R708028902',b'R7080289',2018.0,8.0,1.0,2.0,b'R708',2.0,73.0,...,5.000000,3.460232,2.940008,7.280000,6.332807,10.000000,7.98486,2.797653,5.000000,0.000000

In [198]:
age18_2 = pd.read_csv('data/age18_2.csv', index_col = 0)
age18_2

,id,DI1_pr,DI2_pr,DI3_pr,DI4_pr,DI5_pr,DM2_pr,DM3_pr,DM4_pr,DJ2_pr,...,DC1_pr,DC2_pr,DC3_pr,DC4_pr,DC5_pr,DC6_pr,DC7_pr,DK8_pr,DK9_pr,DK4_pr
0,b'A701020501',1.0,1.0,0.0,8.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1,b'A701021301',8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
2,b'A701021302',1.0,8.0,8.0,8.0,8.0,1.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,1.0,8.0
4,b'A701023303',8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
5,b'A701023304',1.0,8.0,8.0,8.0,8.0,8.0,1.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7917,b'R707025101',8.0,8.0,8.0,1.0,8.0,8.0,8.0,8.0,0.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
7918,b'R707025102',8.0,8.0,8.0,8.0,8.0,1.0,8.0,1.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
7927,b'R707031101',8.0,8.0,8.0,8.0,8.0,1.0,8.0,1.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,1.0,8.0,8.0
7983,b'R708028503',8.0,1.0,8.0,8.0,8.0,1.0,8.0,1.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
7987,b'R708028902',1.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0

# 결측치 및 데이터 확인

## age18_2

### info

In [199]:
# age18_2
age18_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1653 entries, 0 to 7987
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      1653 non-null   object
 1   DI1_pr  1608 non-null   float64
 2   DI2_pr  1608 non-null   float64
 3   DI3_pr  1608 non-null   float64
 4   DI4_pr  1539 non-null   float64
 5   DI5_pr  1608 non-null   float64
 6   DM2_pr  1608 non-null   float64
 7   DM3_pr  1608 non-null   float64
 8   DM4_pr  1608 non-null   float64
 9   DJ2_pr  1608 non-null   float64
 10  DJ4_pr  1608 non-null   float64
 11  DJ6_pr  1608 non-null   float64
 12  DJ8_pr  1608 non-null   float64
 13  DI6_pr  1608 non-null   float64
 14  DF2_pr  1608 non-null   float64
 15  DL1_pr  1608 non-null   float64
 16  DE1_pr  1608 non-null   float64
 17  DE2_pr  1608 non-null   float64
 18  DH4_pr  1608 non-null   float64
 19  DC1_pr  1608 non-null   float64
 20  DC2_pr  1608 non-null   float64
 21  DC3_pr  1608 non-null   float64
 22  DC4_pr  1608 non-null   float64
 23  DC5_pr  1608 non-null   float64
 24  DC6_pr  1608 non-null   float64
 25  DC7_pr  1608 non-null   float64
 26  DK8_pr  1608 non-null   float64
 27  DK9_pr  1608 non-null   float64
 28  DK4_pr  1608 non-null   float64
dtypes: float64(28), object(1)
memory usage: 387.4+ KB

In [200]:
age18_2.isnull().sum()

id          0
DI1_pr     45
DI2_pr     45
DI3_pr     45
DI4_pr    114
DI5_pr     45
DM2_pr     45
DM3_pr     45
DM4_pr     45
DJ2_pr     45
DJ4_pr     45
DJ6_pr     45
DJ8_pr     45
DI6_pr     45
DF2_pr     45
DL1_pr     45
DE1_pr     45
DE2_pr     45
DH4_pr     45
DC1_pr     45
DC2_pr     45
DC3_pr     45
DC4_pr     45
DC5_pr     45
DC6_pr     45
DC7_pr     45
DK8_pr     45
DK9_pr     45
DK4_pr     45
dtype: int64

In [201]:
age18_2_columns = age18_2.columns
age18_2_columns

Index(['id', 'DI1_pr', 'DI2_pr', 'DI3_pr', 'DI4_pr', 'DI5_pr', 'DM2_pr',
       'DM3_pr', 'DM4_pr', 'DJ2_pr', 'DJ4_pr', 'DJ6_pr', 'DJ8_pr', 'DI6_pr',
       'DF2_pr', 'DL1_pr', 'DE1_pr', 'DE2_pr', 'DH4_pr', 'DC1_pr', 'DC2_pr',
       'DC3_pr', 'DC4_pr', 'DC5_pr', 'DC6_pr', 'DC7_pr', 'DK8_pr', 'DK9_pr',
       'DK4_pr'],
      dtype='object')

In [202]:
age18_2_column = age18_2_columns[1:29]
print(age18_2_column)
print(len(age18_2_columns))
print(len(age18_2_column))

Index(['DI1_pr', 'DI2_pr', 'DI3_pr', 'DI4_pr', 'DI5_pr', 'DM2_pr', 'DM3_pr',
       'DM4_pr', 'DJ2_pr', 'DJ4_pr', 'DJ6_pr', 'DJ8_pr', 'DI6_pr', 'DF2_pr',
       'DL1_pr', 'DE1_pr', 'DE2_pr', 'DH4_pr', 'DC1_pr', 'DC2_pr', 'DC3_pr',
       'DC4_pr', 'DC5_pr', 'DC6_pr', 'DC7_pr', 'DK8_pr', 'DK9_pr', 'DK4_pr'],
      dtype='object')
29
28

In [203]:
age18_2['DI1_pr'].unique()

array([ 1.,  8., nan,  0.])

In [204]:
# 0:10 , 10:20 , 20:28 나눠서 하나씩 살펴보기
age18_2_column[0:10]

Index(['DI1_pr', 'DI2_pr', 'DI3_pr', 'DI4_pr', 'DI5_pr', 'DM2_pr', 'DM3_pr',
       'DM4_pr', 'DJ2_pr', 'DJ4_pr'],
      dtype='object')

### column 0:10

0. DI1_pr 고혈압 현재 유병 여부  
  0 : 없음 / 1 : 있음  
  8 : 비해당 / 9 : 모름, 무응답

1. DI2_pr 이상지질혈증 현재 유병 여부  
  0 : 없음 / 1 : 있음  
  8 : 비해당 / 9 : 모름, 무응답

2. DI3_pr 뇌졸중 현재 유병 여부  
  0 : 없음 / 1 : 있음  
  8 : 비해당 / 9 : 모름, 무응답

3. DI4_pr 심근경색증 또는 협심증 현재 유병 여부  
  0 : 없음 / 1 : 있음  
  8 : 비해당

4. DI5_pr 심근경색증 현재 유병 여부  
  0 : 없음 / 1 : 있음  
  8 : 비해당 / 9 : 모름  

5. DM2_pr 골관절염 현재 유병 여부  
  0 : 없음 / 1 : 있음  
  8 : 비해당 / 9 : 모름

6. DM3_pr 류마티스성 관절염 현재 유병 여부  
  0 : 없음 / 1 : 있음  
  8 : 비해당 / 9 : 모름  

7. DM4_pr 골다공증 현재 유병 여부  
  0 : 없음 / 1 : 있음  
  8 : 비해당 / 9 : 모름  

8. DJ2_pr 폐결핵 현재 유병 여부  
  0 : 없음 / 1 : 있음  
  8 : 비해당 / 9 : 모름

9. DJ4_pr 천식 현재 유병 여부  
  0 : 없음 / 1 : 있음  
  8 : 비해당 / 9 : 모름

In [205]:
for i in age18_2_column[0:10]:
    print('-----------------'+i+'------------------')
    print(age18_2[i].unique())

-----------------DI1_pr------------------
[ 1.  8. nan  0.]
-----------------DI2_pr------------------
[ 1.  8. nan  0.  9.]
-----------------DI3_pr------------------
[ 0.  8.  1. nan  9.]
-----------------DI4_pr------------------
[ 8.  1. nan  0.]
-----------------DI5_pr------------------
[ 8. nan  9.  1.  0.]
-----------------DM2_pr------------------
[ 8.  1. nan  9.  0.]
-----------------DM3_pr------------------
[ 8.  1. nan  9.  0.]
-----------------DM4_pr------------------
[ 8.  1. nan  9.  0.]
-----------------DJ2_pr------------------
[ 8.  0. nan  9.  1.]
-----------------DJ4_pr------------------
[ 8.  0. nan  9.  1.]

In [206]:
# 원본 복사 (index리셋)
pre_age18_2 = age18_2.reset_index().drop(['index'], axis=1)
pre_age18_2

,id,DI1_pr,DI2_pr,DI3_pr,DI4_pr,DI5_pr,DM2_pr,DM3_pr,DM4_pr,DJ2_pr,...,DC1_pr,DC2_pr,DC3_pr,DC4_pr,DC5_pr,DC6_pr,DC7_pr,DK8_pr,DK9_pr,DK4_pr
0,b'A701020501',1.0,1.0,0.0,8.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1,b'A701021301',8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
2,b'A701021302',1.0,8.0,8.0,8.0,8.0,1.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,1.0,8.0
3,b'A701023303',8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
4,b'A701023304',1.0,8.0,8.0,8.0,8.0,8.0,1.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648,b'R707025101',8.0,8.0,8.0,1.0,8.0,8.0,8.0,8.0,0.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1649,b'R707025102',8.0,8.0,8.0,8.0,8.0,1.0,8.0,1.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1650,b'R707031101',8.0,8.0,8.0,8.0,8.0,1.0,8.0,1.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,1.0,8.0,8.0
1651,b'R708028503',8.0,1.0,8.0,8.0,8.0,1.0,8.0,1.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1652,b'R708028902',1.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0

8, 9 제거

In [207]:
for i in age18_2_column[0:10]:
    col_index = list(pre_age18_2.columns).index(i)

    # 8 제거
    pre_age18_2_index = pre_age18_2[pre_age18_2[i] == 8][i].index

    for j in list(pre_age18_2_index):
        pre_age18_2.iloc[j,col_index] = np.nan
    
    # 9 제거
    pre_age18_2_index = pre_age18_2[pre_age18_2[i] == 9][i].index

    for j in list(pre_age18_2_index):
        pre_age18_2.iloc[j,col_index] = np.nan

pre_age18_2

,id,DI1_pr,DI2_pr,DI3_pr,DI4_pr,DI5_pr,DM2_pr,DM3_pr,DM4_pr,DJ2_pr,...,DC1_pr,DC2_pr,DC3_pr,DC4_pr,DC5_pr,DC6_pr,DC7_pr,DK8_pr,DK9_pr,DK4_pr
0,b'A701020501',1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1,b'A701021301',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
2,b'A701021302',1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,1.0,8.0
3,b'A701023303',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
4,b'A701023304',1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648,b'R707025101',NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1649,b'R707025102',NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1650,b'R707031101',NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,1.0,8.0,8.0
1651,b'R708028503',NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1652,b'R708028902',1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0

In [208]:
# 0~10 8, 9 제거 확인
for i in age18_2_column[0:10]:
    print('-----------------'+i+'------------------')
    print(pre_age18_2[i].unique())

-----------------DI1_pr------------------
[ 1. nan  0.]
-----------------DI2_pr------------------
[ 1. nan  0.]
-----------------DI3_pr------------------
[ 0. nan  1.]
-----------------DI4_pr------------------
[nan  1.  0.]
-----------------DI5_pr------------------
[nan  1.  0.]
-----------------DM2_pr------------------
[nan  1.  0.]
-----------------DM3_pr------------------
[nan  1.  0.]
-----------------DM4_pr------------------
[nan  1.  0.]
-----------------DJ2_pr------------------
[nan  0.  1.]
-----------------DJ4_pr------------------
[nan  0.  1.]

### column 10:20

In [209]:
for i in age18_2_column[10:20]:
    print('-----------------'+i+'------------------')
    print(age18_2[i].unique())

-----------------DJ6_pr------------------
[ 8.  0. nan  9.  1.]
-----------------DJ8_pr------------------
[ 8.  0.  1. nan  9.]
-----------------DI6_pr------------------
[ 8.  1. nan  9.  0.]
-----------------DF2_pr------------------
[ 8. nan  0.  1.  9.]
-----------------DL1_pr------------------
[ 8. nan  9.  1.  0.]
-----------------DE1_pr------------------
[ 8.  1. nan  0.  9.]
-----------------DE2_pr------------------
[ 8.  1. nan  9.  0.]
-----------------DH4_pr------------------
[ 8. nan  9.  0.  1.]
-----------------DC1_pr------------------
[ 8.  1. nan  9.  0.]
-----------------DC2_pr------------------
[ 8. nan  9.  1.  0.]

In [210]:
for i in age18_2_column[10:20]:
    col_index = list(pre_age18_2.columns).index(i)

    # 8 제거
    pre_age18_2_index = pre_age18_2[pre_age18_2[i] == 8][i].index

    for j in list(pre_age18_2_index):
        pre_age18_2.iloc[j,col_index] = np.nan
    
    # 9 제거
    pre_age18_2_index = pre_age18_2[pre_age18_2[i] == 9][i].index

    for j in list(pre_age18_2_index):
        pre_age18_2.iloc[j,col_index] = np.nan

pre_age18_2

,id,DI1_pr,DI2_pr,DI3_pr,DI4_pr,DI5_pr,DM2_pr,DM3_pr,DM4_pr,DJ2_pr,...,DC1_pr,DC2_pr,DC3_pr,DC4_pr,DC5_pr,DC6_pr,DC7_pr,DK8_pr,DK9_pr,DK4_pr
0,b'A701020501',1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1,b'A701021301',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
2,b'A701021302',1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,8.0,8.0,8.0,8.0,8.0,8.0,1.0,8.0
3,b'A701023303',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
4,b'A701023304',1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648,b'R707025101',NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1649,b'R707025102',NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,NaN,NaN,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1650,b'R707031101',NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,NaN,NaN,8.0,8.0,8.0,8.0,8.0,1.0,8.0,8.0
1651,b'R708028503',NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,NaN,NaN,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1652,b'R708028902',1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0

In [211]:
# 확인
for i in age18_2_column[10:20]:
    print('-----------------'+i+'------------------')
    print(pre_age18_2[i].unique())

-----------------DJ6_pr------------------
[nan  0.  1.]
-----------------DJ8_pr------------------
[nan  0.  1.]
-----------------DI6_pr------------------
[nan  1.  0.]
-----------------DF2_pr------------------
[nan  0.  1.]
-----------------DL1_pr------------------
[nan  1.  0.]
-----------------DE1_pr------------------
[nan  1.  0.]
-----------------DE2_pr------------------
[nan  1.  0.]
-----------------DH4_pr------------------
[nan  0.  1.]
-----------------DC1_pr------------------
[nan  1.  0.]
-----------------DC2_pr------------------
[nan  1.  0.]

### column 20:28

In [212]:
for i in age18_2_column[20:28]:
    print('-----------------'+i+'------------------')
    print(age18_2[i].unique())

-----------------DC3_pr------------------
[ 8.  0. nan  9.  1.]
-----------------DC4_pr------------------
[ 8.  1. nan  9.  0.]
-----------------DC5_pr------------------
[ 8. nan  9.  0.]
-----------------DC6_pr------------------
[ 8. nan  9.  1.  0.]
-----------------DC7_pr------------------
[ 8. nan  9.  0.  1.]
-----------------DK8_pr------------------
[ 8.  1. nan  9.  0.]
-----------------DK9_pr------------------
[ 8.  1. nan  9.  0.]
-----------------DK4_pr------------------
[ 8.  1. nan  9.  0.]

In [213]:
for i in age18_2_column[20:28]:
    col_index = list(pre_age18_2.columns).index(i)

    # 8 제거
    pre_age18_2_index = pre_age18_2[pre_age18_2[i] == 8][i].index

    for j in list(pre_age18_2_index):
        pre_age18_2.iloc[j,col_index] = np.nan
    
    # 9 제거
    pre_age18_2_index = pre_age18_2[pre_age18_2[i] == 9][i].index

    for j in list(pre_age18_2_index):
        pre_age18_2.iloc[j,col_index] = np.nan

pre_age18_2

,id,DI1_pr,DI2_pr,DI3_pr,DI4_pr,DI5_pr,DM2_pr,DM3_pr,DM4_pr,DJ2_pr,...,DC1_pr,DC2_pr,DC3_pr,DC4_pr,DC5_pr,DC6_pr,DC7_pr,DK8_pr,DK9_pr,DK4_pr
0,b'A701020501',1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'A701021301',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'A701021302',1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
3,b'A701023303',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'A701023304',1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648,b'R707025101',NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1649,b'R707025102',NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1650,b'R707031101',NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1651,b'R708028503',NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1652,b'R708028902',1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [214]:
# 확인
for i in age18_2_column[20:28]:
    print('-----------------'+i+'------------------')
    print(pre_age18_2[i].unique())

-----------------DC3_pr------------------
[nan  0.  1.]
-----------------DC4_pr------------------
[nan  1.  0.]
-----------------DC5_pr------------------
[nan  0.]
-----------------DC6_pr------------------
[nan  1.  0.]
-----------------DC7_pr------------------
[nan  0.  1.]
-----------------DK8_pr------------------
[nan  1.  0.]
-----------------DK9_pr------------------
[nan  1.  0.]
-----------------DK4_pr------------------
[nan  1.  0.]

In [215]:
pre_age18_2