### real에 해당하는 변수 설명서 제작

In [ ]:
var1 = list(age_1.columns)

In [ ]:
####
var_list = []
for  i in range(0,len(same)):
    if same.loc[i][0].upper() in var1:
        var_list.append(i)

In [ ]:
same.iloc[var_list]

,변수명,변수설명7,변수설명8
1,ID,개인 아이디,개인 아이디
2,ID_fam,가구 아이디,가구 아이디
4,region,17개 시도,17개 시도
5,town_t,동/읍면 구분,동/읍면 구분
6,apt_t,아파트 구분,아파트 구분
...,...,...,...
747,T_NQ_OCP,작업장 내 소음노출 경험,직업적 소음노출
748,HE_DM,당뇨병 유병여부(19세이상),당뇨병 유병여부(19세이상)
749,Total_slp_wk,(만12세이상) 주중 하루 평균 수면시간,(만12세이상) 주중(또는 일하는 날) 하루 평균 수면 시간
750,Total_slp_wd,(만12세이상) 주말 하루 평균 수면시간,"(만12세이상) 주말(또는 일하지 않는 날, 일하지 않는 전날) 하루 평균 수면 시간"
751,HE_UCREA,요크레아티닌,요크레아티닌