In [1]:
import pandas as pd

In [20]:
a = [0, 90, 150, 80, 0.0035, 3,3,3,3,3,4,2,2,1,1,4,2,1,100,1,1,1,2,1,6,2000,2200,600,80,30,10,20,250,70,1150,4000,500]
len(a)

37

In [21]:
col = ['SEX','AGE','HE_HT','HE_WT','HE_BMI','LQ_1EQL','LQ_2EQL','LQ_3EQL','LQ_4EQL','LQ_5EQL','TOTAL_SLP_WD','BE3_81','BE3_85','BP1','SM_PRESNT','L_BR_FQ','BH1','HE_FH','HE_DBP','LQ4_00','BP7','MH_STRESS','HE_RPLS','BS13','BD1_11','N_INTK','N_EN','N_WATER','N_PROT','N_FAT','N_SFA','N_MUFA','N_CHOL','N_SUGAR','N_PHOS','N_NA','N_CAROT']

In [24]:
data_dict = [dict(zip(col,a))]
data_dict

[{'SEX': 0,
  'AGE': 90,
  'HE_HT': 150,
  'HE_WT': 80,
  'HE_BMI': 0.0035,
  'LQ_1EQL': 3,
  'LQ_2EQL': 3,
  'LQ_3EQL': 3,
  'LQ_4EQL': 3,
  'LQ_5EQL': 3,
  'TOTAL_SLP_WD': 4,
  'BE3_81': 2,
  'BE3_85': 2,
  'BP1': 1,
  'SM_PRESNT': 1,
  'L_BR_FQ': 4,
  'BH1': 2,
  'HE_FH': 1,
  'HE_DBP': 100,
  'LQ4_00': 1,
  'BP7': 1,
  'MH_STRESS': 1,
  'HE_RPLS': 2,
  'BS13': 1,
  'BD1_11': 6,
  'N_INTK': 2000,
  'N_EN': 2200,
  'N_WATER': 600,
  'N_PROT': 80,
  'N_FAT': 30,
  'N_SFA': 10,
  'N_MUFA': 20,
  'N_CHOL': 250,
  'N_SUGAR': 70,
  'N_PHOS': 1150,
  'N_NA': 4000,
  'N_CAROT': 500}]

In [25]:
data = pd.DataFrame(data_dict)
data

,SEX,AGE,HE_HT,HE_WT,HE_BMI,LQ_1EQL,LQ_2EQL,LQ_3EQL,LQ_4EQL,LQ_5EQL,...,N_WATER,N_PROT,N_FAT,N_SFA,N_MUFA,N_CHOL,N_SUGAR,N_PHOS,N_NA,N_CAROT
0,0,90,150,80,0.0035,3,3,3,3,3,...,600,80,30,10,20,250,70,1150,4000,500

In [26]:
import pickle
pickle.dump(data, open('cho_data.pkl', 'wb'))