In [7]:
import pandas as pd

In [8]:
fc_convert1 = pd.read_csv('C:/sas_view/use_code/rc16.csv', index_col= 0)
fc_convert2 = pd.read_csv('C:/sas_view/use_code/rc17.csv', index_col= 0)
fc_convert3 = pd.read_csv('C:/sas_view/use_code/rc18.csv', index_col= 0)
fc_convert4 = pd.read_csv('C:/sas_view/use_code/rc19.csv', index_col= 0)
fc_convert5 = pd.read_csv('C:/sas_view/use_code/rc20.csv', index_col= 0)

In [9]:
NF_concat = pd.concat([fc_convert1, fc_convert2, fc_convert3, fc_convert4, fc_convert5], axis=0)

In [10]:
N_FCODE_concat = NF_concat[['ID','N_DCODE']]

In [11]:
N_FCODE_concat

                   ID   N_DCODE
0       b'A651172801'  b'10159'
1       b'A651172801'  b'10159'
2       b'A651172801'  b'11372'
3       b'A651172801'  b'11372'
4       b'A651172801'  b'11372'
...               ...       ...
389130  b'R804371702'  b'73606'
389131  b'R804371702'  b'73606'
389132  b'R804371702'  b'73606'
389133  b'R804371702'  b'73606'
389134  b'R804371702'  b'73606'

[2488418 rows x 2 columns]

In [12]:
for i in range(0, len(N_FCODE_concat)):
    N_FCODE_concat.iloc[i][0] = N_FCODE_concat.iloc[i][0][2:-1]
    N_FCODE_concat.iloc[i][1] = N_FCODE_concat.iloc[i][1][3:-1]

In [13]:
N_FCODE_concat

                ID N_DCODE
0       A651172801    0159
1       A651172801    0159
2       A651172801    1372
3       A651172801    1372
4       A651172801    1372
...            ...     ...
389130  R804371702    3606
389131  R804371702    3606
389132  R804371702    3606
389133  R804371702    3606
389134  R804371702    3606

[2488418 rows x 2 columns]