In [1]:
import pandas as pd

In [5]:
fc_convert = pd.read_csv('C:/sas_view/use_code/rc20.csv', index_col= 0)
fc_convert

,ID,N_DNAME,N_DCODE,N_FCODE,N_FNAME
0,b'A801169401',b'\xb6\xf3\xb6\xbc',b'42090',b'13010',b'\xbf\xec\xc0\xaf'
1,b'A801169401',b'\xb6\xf3\xb6\xbc',b'42090',b'15135',"b'\xc4\xbf\xc7\xc7, \xbf\xa1\xbd\xba\xc7\xc1\x..."
2,b'A801169401',b'\xb1\xa4\xbe\xee\xc3\xca\xb9\xe4',b'43107',b'01173',"b'\xb8\xe3\xbd\xd2, \xb9\xe9\xb9\xcc, \xbb\xfd..."
3,b'A801169401',b'\xb1\xa4\xbe\xee\xc3\xca\xb9\xe4',b'43107',b'03024',"b'\xbc\xb3\xc5\xc1, \xb9\xe9\xbc\xb3\xc5\xc1'"
4,b'A801169401',b'\xb1\xa4\xbe\xee\xc3\xca\xb9\xe4',b'43107',b'11083',"b'\xb4\xd9\xb6\xfb\xbe\xee, \xc2\xfc\xb4\xd9\x..."
...,...,...,...,...,...
389130,b'R804371702',b'\xb5\xc5\xc1\xf6\xb0\xed\xb1\xe2\xb1\xe8\xc4...,b'73606',b'09096',"b'\xb5\xc5\xc1\xf6 \xba\xce\xbb\xea\xb9\xb0, \..."
389131,b'R804371702',b'\xb5\xc5\xc1\xf6\xb0\xed\xb1\xe2\xb1\xe8\xc4...,b'73606',b'09103',"b'\xb5\xc5\xc1\xf6 \xba\xce\xbb\xea\xb9\xb0, \..."
389132,b'R804371702',b'\xb5\xc5\xc1\xf6\xb0\xed\xb1\xe2\xb1\xe8\xc4...,b'73606',b'16009',"b'\xb0\xed\xc3\xe5\xb0\xa1\xb7\xe7, \xb0\xa1\x..."
389133,b'R804371702',b'\xb5\xc5\xc1\xf6\xb0\xed\xb1\xe2\xb1\xe8\xc4...,b'73606',b'16030',"b'\xc1\xb6\xb9\xcc\xb7\xe1, \xbc\xe8\xb0\xed\x..."
389134,b'R804371702',b'\xb5\xc5\xc1\xf6\xb0\xed\xb1\xe2\xb1\xe8\xc4...,b'73606',b'16038',b'\xbc\xd2\xb1\xdd'

In [18]:
#x = fc_convert.iloc[0][0][2:-1]
x = fc_convert.iloc[0][2][3:-1]
x

'2090'

In [41]:
# ID, 음식코드 추출 작업

N_CODE_convert = fc_convert[['ID','N_DCODE']]
N_CODE_convert

                   ID   N_DCODE
0       b'A801169401'  b'42090'
1       b'A801169401'  b'42090'
2       b'A801169401'  b'43107'
3       b'A801169401'  b'43107'
4       b'A801169401'  b'43107'
...               ...       ...
389130  b'R804371702'  b'73606'
389131  b'R804371702'  b'73606'
389132  b'R804371702'  b'73606'
389133  b'R804371702'  b'73606'
389134  b'R804371702'  b'73606'

[389135 rows x 2 columns]

In [42]:
for i in range(0, len(N_CODE_convert)):
    N_CODE_convert.iloc[i][1] = N_CODE_convert.iloc[i][1][3:-1]
    N_CODE_convert.iloc[i][0] = N_CODE_convert.iloc[i][0][2:-1]

In [43]:
N_CODE_convert

                   ID N_DCODE
0       b'A801169401'    2090
1       b'A801169401'    2090
2       b'A801169401'    3107
3       b'A801169401'    3107
4       b'A801169401'    3107
...               ...     ...
389130  b'R804371702'    3606
389131  b'R804371702'    3606
389132  b'R804371702'    3606
389133  b'R804371702'    3606
389134  b'R804371702'    3606

[389135 rows x 2 columns]