In [1]:
import pandas as pd

In [6]:
# 빈 데이터프레임 만들기
df = pd.DataFrame(columns = ['SEX','AGE','HE_HT','HE_WT','HE_BMI','LQ_1EQL','LQ_2EQL','LQ_3EQL','LQ_4EQL','LQ_5EQL','TOTAL_SLP_WD','BE3_81','BE3_85','BP1','SM_PRESNT','L_BR_FQ','BH1','HE_FH','HE_DBP','LQ4_00','BP7','MH_STRESS','HE_RPLS','BS13','BD1_11','N_INTK','N_EN','N_WATER','N_PROT','N_FAT','N_SFA','N_MUFA','N_CHOL','N_SUGAR','N_PHOS','N_NA','N_CAROT'])

In [7]:
df

Empty DataFrame
Columns: [SEX, AGE, HE_HT, HE_WT, HE_BMI, LQ_1EQL, LQ_2EQL, LQ_3EQL, LQ_4EQL, LQ_5EQL, TOTAL_SLP_WD, BE3_81, BE3_85, BP1, SM_PRESNT, L_BR_FQ, BH1, HE_FH, HE_DBP, LQ4_00, BP7, MH_STRESS, HE_RPLS, BS13, BD1_11, N_INTK, N_EN, N_WATER, N_PROT, N_FAT, N_SFA, N_MUFA, N_CHOL, N_SUGAR, N_PHOS, N_NA, N_CAROT]
Index: []

[0 rows x 37 columns]