### CHECK CODE

In [100]:
import pandas as pd

# 기본DB_7,8 / 식품_7,8차 concat한 데이터 파일 불러오기

df7 = pd.read_csv('data/concat7.csv', encoding = 'utf-8', index_col = 0)
df8 = pd.read_csv('data/concat8.csv', encoding = 'utf-8', index_col = 0)

In [101]:
# df7 / df8 변수명 추출

df7_col = df7['변수명'].to_list()
df8_col = df8['변수명'].to_list()

In [102]:
# df7 / df8 서로 동일한 변수명 리스트 만들기

list7 = []
list8 = []

for i in range(0, len(df8_col)) :
    for j in range(0, len(df7_col)) :
        if df8_col[i] == df7_col[j] :
            list8.append(i)
            list7.append(j)

In [103]:
# 공통된 변수명 리스트 751개

print(len(list7), len(list8))

751 751

In [104]:
# merge 하기 전 '변수설명' 구분하기 위해 컬럼명 변경

df7.rename(columns = {'변수설명' : '변수설명7'}, inplace = True)
df8.rename(columns = {'변수설명' : '변수설명8'}, inplace = True)

In [105]:
# 뽑힌 7차 변수

df7_2 = df7.iloc[list7]

# 뽑힌 8차 변수

df8_2 = df8.iloc[list8]

print(len(df7_2), len(df8_2))

751 751

In [106]:
# 같은 변수들만 merge한 데이터프레임 ( 751 row )

merge_df = pd.merge(df7_2, df8_2)

In [107]:
# 전체를 merge한 데이터프레임 ( 1603 row )

m_df = pd.merge(df7, df8, how = 'outer')

In [108]:
# merge_df ( 같은 변수들만 merge한 데이터프레임 751 row ) 에서 변수설명이 같은 것 ( 443 row )

merge_df[merge_df.iloc[:,1] == merge_df.iloc[:,2]]

            변수명                변수설명7                변수설명8
0         MOD_D            최종 DB 수정일            최종 DB 수정일
1            ID               개인 아이디               개인 아이디
2        ID_FAM               가구 아이디               가구 아이디
3          YEAR                 조사연도                 조사연도
4        REGION               17개 시도               17개 시도
..          ...                  ...                  ...
668     NF_INTK                식품섭취량                식품섭취량
669    NF_INTK3       3차 식품코드용 식품섭취량       3차 식품코드용 식품섭취량
748  LF_secur_y           식품안정성조사 여부           식품안정성조사 여부
749    LF_BUYER  응답자의 가구 내 식생활관리자 여부  응답자의 가구 내 식생활관리자 여부
750     LF_SAFE                식생활형편                식생활형편

[443 rows x 3 columns]

In [109]:
# merge_df ( 같은 변수들만 merge한 데이터프레임 751 row )에서 변수설명이 다른 것 ( 308 row )

merge_df[merge_df.iloc[:,1] != merge_df.iloc[:,2]]

            변수명                   변수설명7                      변수설명8
19        WT_OE              검진구강조사 가중치            구강검사 & 영양조사 가중치
21       WT_EX1         안검사 가중치(만40세이상)         이비인후검사 가중치(만40세이상)
25     WT_EX1NT  안검사 & 영양조사 가중치(만40세이상)  이비인후검사 & 영양조사 가중치(만40세이상)
30        HOUSE                 주택소유여부                      주택소유여부
32   AINC_UNIT1       가구총소득(개방형) : 소득단위           가구총소득(개방형): 소득단위
..          ...                     ...                        ...
743        N_B1                     티아민             1일 티아민 섭취량(mg)
744        N_B2                   리보플라빈           1일 리보플라빈 섭취량(mg)
745      N_NIAC                    나이아신            1일 나이아신 섭취량(mg)
746    N_FOLATE                      엽산           1일 엽산 섭취량(μgDFE)
747      N_VITC                    비타민C            1일 비타민C 섭취량(mg)

[308 rows x 3 columns]

In [110]:
# 전체를 merge한 df에서 변수설명이 같은 변수들 뽑기

same = m_df[m_df.iloc[:,1] == m_df.iloc[:,2]]
#same.to_csv('data/same_code.csv')

# 전체를 merge한 df에서 변수설명이 다른 변수들 뽑기

dd = m_df[m_df.iloc[:,1] != m_df.iloc[:,2]]

In [111]:
# dd ( 전체를 merge한 df에서 변수설명이 다른 것) 데이터프레임 중 나누기

lis = [] # 변수설명이 같지만 미세하게 달라서 뽑힌 변수
etc_lis = [] # 그 외 변수들 (아예 다른 변수)
na_lis = [] # Na 포함된 변수
for i in range(0, len(dd)) :
    if dd.iloc[i].isnull().values.any() :
        na_lis.append(i) 
    else :
        if dd.iloc[i][1][0:2] in dd.iloc[i][2] or dd.iloc[i][2][0:2] in dd.iloc[i][1] :
            lis.append(i)
        else :
            etc_lis.append(i)

In [112]:
# dd 중 변수설명이 같은 변수

dd_same =  dd.iloc[lis]

# Na값을 포함한 변수

na_dd = dd.iloc[na_lis]

# 그 외 변수

dd.iloc[etc_lis]

          변수명                   변수설명7                      변수설명8
23     WT_EX1         안검사 가중치(만40세이상)         이비인후검사 가중치(만40세이상)
34   WT_EX1NT  안검사 & 영양조사 가중치(만40세이상)  이비인후검사 & 영양조사 가중치(만40세이상)
197    DN1_DG            신부전 의사진단 여부           콩팥병(신장질환) 의사진단 여부
198    DN1_AG                신부전 진단시기             콩팥병(신장질환) 진단시기
199    DN1_PR           신부전 현재 유병 여부          콩팥병(신장질환) 현재 유병 여부
200    DN1_PT                 신부전 치료                콩팥병(신장질환) 치료
544    BS12_1        (성인) 전자담배 평생사용여부            액상형 전자담배 평생사용여부
545    BS12_2        (성인) 전자담배 현재사용여부            액상형 전자담배 현재사용여부
551   BS12_37      (성인) 평생사용담배종류: 찐담배            궐련형 전자담배 평생사용여부
558   BS12_47      (성인) 현재사용담배종류: 찐담배            궐련형 전자담배 현재사용여부
809  T_NQ_OCP           작업장 내 소음노출 경험                   직업적 소음노출

In [113]:
# 설명이 똑같은 것으로 판별된 변수들
dd.iloc[etc_lis][2:]

# 7차 8차 서로 다른 변수들 모음

#dd.to_csv('data/dd.csv', encoding = 'cp949') # 전체를 merge한 df에서 설명이 다른 변수들 뽑은 것
#na_dd.to_csv('data/dd_na.csv', encoding = 'cp949') # NA 존재 파일
#dd.iloc[etc_lis].to_csv('data/dd_etc.csv', encoding = 'cp949') # 그 외 변수

# 7차 8차 같은 변수들

same2 = pd.concat([same, dd_same, dd.iloc[etc_lis][2:]]) 
#same2.to_csv('data/same_code.csv')

In [114]:
# na_dd에서 설명이 같은 것 추출

na_7 = na_dd[na_dd.iloc[:,2].isna()]
na_8 = na_dd[na_dd.iloc[:,1].isna()]

In [119]:
na_7

            변수명                      변수설명7 변수설명8
20        WT_HM          중금속검사 가중치(만10세이상)   NaN
21        WT_VT          비타민검사 가중치(만10세이상)   NaN
22        WT_NN          NNAL검사 가중치(만6세이상)   NaN
26      WT_PFHM  폐기능검사 & 중금속검사 가중치(만40세이상)   NaN
27      WT_PFVT  폐기능검사 & 비타민검사 가중치(만40세이상)   NaN
...         ...                        ...   ...
1444     HEI_NA                     나트륨 섭취   NaN
1445  HEI_SWEET           당류, 음료류의 에너지섭취비율   NaN
1446    HEI_CHO               탄수화물 에너지섭취비율   NaN
1447    HEI_FAT                 지방 에너지섭취비율   NaN
1448     HEI_EN                     에너지 섭취   NaN

[698 rows x 3 columns]

In [120]:
# dd 데이터프레임 중 나누어주기

lis_7 = [] # 변수설명이 같지만 미세하게 달라서 뽑힌 변수들
lis_8 = []
etc_lis_7 = [] # 그 외 변수들 (아예 다른 변수)
etc_lis_8 = [] 
erro_7 = []
erro_8 = []
for i in range(0, len(na_7)) :
    for j in range(0, len(na_8)) :
        try :
            if na_7.iloc[i][1][0:10] in na_8.iloc[j][2] or na_8.iloc[j][2][0:10] in na_7.iloc[i][1] :
                lis_7.append(i) 
                #print(na_7.iloc[i][1])
                lis_8.append(j)
                #print(na_8.iloc[j][2])
            else :
                etc_lis_7.append(i)
                etc_lis_8.append(j)
        except :
            erro_7.append(i)
            erro_8.append(j)

In [121]:
# lis_7, lis_8 중복되지 않는 것

print(len(set(lis_7)), len(set(lis_8)))

11 3

In [122]:
# 리스트 a, b에 넣기

a = list(set(lis_8))
b = list(set(lis_7))

print(a)
print(b)

[32, 19, 20]
[167, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156]

In [124]:
na_7.iloc[b] ###

              변수명                    변수설명7 변수설명8
662         HE_DM          당뇨병 유병여부(19세이상)   NaN
485       BP16_11  (만12세이상) 주중 잠자리에 든 시각_시   NaN
486       BP16_12  (만12세이상) 주중 잠자리에 든 시각_분   NaN
487       BP16_13     (만12세이상) 주중 일어난 시각_시   NaN
488       BP16_14     (만12세이상) 주중 일어난 시각_분   NaN
489       BP16_21  (만12세이상) 주말 잠자리에 든 시각_시   NaN
490       BP16_22  (만12세이상) 주말 잠자리에 든 시각_분   NaN
491       BP16_23     (만12세이상) 주말 일어난 시각_시   NaN
492       BP16_24     (만12세이상) 주말 일어난 시각_분   NaN
493  TOTAL_SLP_WK   (만12세이상) 주중 하루 평균 수면시간   NaN
494  TOTAL_SLP_WD   (만12세이상) 주말 하루 평균 수면시간   NaN

In [ ]:
# 7차와 유사한 변수 설명을 갖고 있는 데이터 
na_8.iloc[a]

In [ ]:
# 8차와 유사한 변수 설명을 갖고 있는 데이터
na_7.iloc[b]

In [125]:
# 8차에 있는 컬럼설명을 갖고 있는 7차 변수들 index

b7 = []
c = [0, 9, 10] # 해당 변수 자리 번호

for i in range(0, len(c)) :
    b7.append(b[c[i]])

b7

[167, 155, 156]

In [126]:
ch7 = na_7.iloc[b7]
ch7

              변수명                   변수설명7 변수설명8
662         HE_DM         당뇨병 유병여부(19세이상)   NaN
493  TOTAL_SLP_WK  (만12세이상) 주중 하루 평균 수면시간   NaN
494  TOTAL_SLP_WD  (만12세이상) 주말 하루 평균 수면시간   NaN

In [127]:
na_8.iloc[a]

              변수명 변수설명7                                            변수설명8
1481  HE_DM_HBA1C   NaN                                  당뇨병 유병여부(19세이상)
1468       BP16_1   NaN                (만12세이상) 주중(또는 일하는 날) 하루 평균 수면 시간
1469       BP16_2   NaN  (만12세이상) 주말(또는 일하지 않는 날, 일하지 않는 전날) 하루 평균 수면 시간

In [128]:
ch8 = na_8.iloc[a]
ch8

              변수명 변수설명7                                            변수설명8
1481  HE_DM_HBA1C   NaN                                  당뇨병 유병여부(19세이상)
1468       BP16_1   NaN                (만12세이상) 주중(또는 일하는 날) 하루 평균 수면 시간
1469       BP16_2   NaN  (만12세이상) 주말(또는 일하지 않는 날, 일하지 않는 전날) 하루 평균 수면 시간

In [ ]:
'''
8차 HE_DM_HbA1c -> HE_DM 당뇨병 유병여부
8차 BP16_1 -> Total_slp_wk	(만12세이상) 주중 하루 평균 수면시간
8차 BP16_2 -> Total_slp_wd	(만12세이상) 주말 하루 평균 수면시간
'''

In [ ]:
ch8.rename(columns = {'변수명' : '변수명8'}, inplace = True)
ch8

In [ ]:
ch8['변수명'] = ['HE_DM', 'TOTAL_SLP_WK', 'TOTAL_SLP_WD']
ch8

In [ ]:
ch = ch7.loc[ : , ['변수명', '변수설명7']].merge(ch8.loc[ : , ['변수명8','변수명']], how = 'left')
ch.rename(columns = {'변수설명7' : '변수설명'}, inplace = True)
ch

In [ ]:
ch2 = ch7.loc[ : , ['변수명','변수설명7']].merge(ch8.loc[ : , ['변수명8','변수설명8','변수명']], how = 'left')
ch2

In [ ]:
same3 = pd.concat([same2, ch2.loc[ : , ['변수명', '변수설명7', '변수설명8']]])

In [97]:
# 인덱스 초기화

same3.reset_index(inplace=True)
same3 = same3.iloc[:,1:]

In [135]:
# csv 파일로 저장 

same3.to_csv('data/same.csv', encoding = 'euc-kr')