In [60]:
import pandas as pd
import psycopg2
import csv
import pymysql
import time

In [64]:
# GCP MySQL 연결
# 본인 IP 열어달라고 말해주세요.
# 구글에 공인 IP 검색해서 본인 IP 확인한 걸로 말해주세요.
try:
    conn = pymysql.connect(user='root', passwd='1234', host='34.64.136.121', db='mydb129', charset='utf8')
    print('===접속 성공===')
    cursor = conn.cursor(pymysql.cursors.DictCursor) # pandas dataframe 형태로 받아오는 커서
except psycopg2.DatabaseError as db_err:
    print('접속 오류 !!')
    print(db_err)

===접속 성공===

In [63]:
# Test Food Table
sql = "SELECT * FROM Food;"
cursor = conn.cursor(pymysql.cursors.DictCursor) # dataframe으로 만들기 편하게 하기 위해 Dictionary로 결과를 받는 커서
try:
    cursor.execute(sql)
    result = cursor.fetchall()
    print(result[0]) 
except:
    print('Error!!')

{'class_num': 0, 'food_name': '잡곡밥', 'serving_size_g': 200.0, 'calorie_kJ': 1424.0, 'calorie_kcal': 340.0, 'carbohydrate_g': 73.47, 'sugar_g': 0.1, 'protein_g': 8.82, 'fat_g': 1.98, 'saturated_fat_g': 0.342, 'polyunsaturated_fat_g': 0.793, 'unsaturated_fat_g': 0.565, 'cholesterol_mg': 0.0, 'dietary_fiber_g': 3.9, 'salt_mg': 273.0, 'potassium_mg': 208.0}

In [28]:
# result dataframe
result_df = pd.DataFrame(result) # 위에서 DictCursor로 받아서 바로 만들면 편함
result_df

,class_num,food_name,serving_size_g,calorie_kJ,calorie_kcal,carbohydrate_g,sugar_g,protein_g,fat_g,saturated_fat_g,polyunsaturated_fat_g,unsaturated_fat_g,cholesterol_mg,dietary_fiber_g,salt_mg,potassium_mg
0,0,잡곡밥,200.0,1424.0,340.0,73.47,0.10,8.82,1.98,0.342,0.793,0.565,0.0,3.9,273.0,208.0
1,1,배추김치,38.0,35.0,8.0,1.58,0.70,0.66,0.12,0.018,0.056,0.017,0.0,0.5,245.0,98.0
2,2,된장찌개,200.0,717.0,171.0,16.77,3.80,15.01,5.60,1.034,2.455,1.463,21.0,3.2,682.0,613.0
3,3,김치찌개,200.0,505.0,121.0,6.47,1.77,7.51,7.57,1.903,2.129,2.935,15.0,1.4,442.0,330.0
4,4,멸치볶음,40.0,289.0,69.0,0.35,0.08,7.43,4.09,0.784,1.105,1.840,21.0,0.1,1022.0,147.0
5,5,시금치나물,100.0,286.0,68.0,7.35,0.97,3.27,3.67,0.526,1.568,1.348,0.0,2.6,593.0,403.0
6,6,가지나물,165.0,297.0,71.0,11.02,3.39,2.97,2.95,0.451,1.301,0.920,0.0,5.8,261.0,397.0
7,7,고사리나물,80.0,214.0,51.0,5.50,1.43,2.60,2.71,0.363,1.097,0.987,0.0,0.5,142.0,175.0
8,8,미역국,230.0,346.0,83.0,5.59,0.62,7.87,3.73,0.975,1.099,1.240,14.0,0.5,1134.0,223.0
9,9,김밥,125.0,611.0,148.0,32.03,5.54,2.72,0.29,0.081,0.086,0.086,0.0,0.5,119.0,76.0
10,10,불고기,300.0,2034.0,486.0,14.77,7.17,48.38,23.86,6.068,5.905,9.603,103.0,2.6,583.0,853.0
11,11,호박볶음,75.0,375.0,90.0,5.24,1.27,1.20,7.68,1.092,3.231,3.007,0.0,1.4,374.0,177.0
12,12,무생채,200.0,333.0,80.0,14.34,8.06,2.30,2.28,0.364,1.007,0.745,0.0,4.5,1383.0,490.0
13,13,잡채,150.0,1194.0,285.0,43.23,3.03,7.59,10.16,1.437,4.626,3.475,0.0,3.4,808.0,341.0
14,14,무국,200.0,503.0,120.0,13.78,4.03,2.75,6.65,0.980,2.773,2.575,0.0,3.5,1088.0,603.0
15,15,고등어구이,200.0,1586.0,379.0,0.70,0.18,35.18,25.19,5.809,6.841,9.569,120.0,0.0,822.0,693.0
16,16,쌀밥,210.0,1130.0,270.0,61.00,0.00,5.00,0.70,0.000,0.000,0.000,0.0,0.0,20.0,0.0
17,17,계란후라이,46.0,373.0,89.0,0.43,0.38,6.24,6.76,1.880,1.214,2.754,210.0,0.0,238.0,67.0
18,18,계란말이,250.0,1407.0,336.0,6.53,2.81,25.46,22.40,6.181,3.641,9.217,808.0,1.6,772.0,415.0

In [29]:
# Food Table Columns 추출
cur=conn.cursor()
try:
    cur.execute("Select COLUMN_NAME From INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'Food' order by ordinal_position;")
    columns = cur.fetchall()
except:
    print('Error!')
print(columns)

(('class_num',), ('food_name',), ('serving_size_g',), ('calorie_kJ',), ('calorie_kcal',), ('carbohydrate_g',), ('sugar_g',), ('protein_g',), ('fat_g',), ('saturated_fat_g',), ('polyunsaturated_fat_g',), ('unsaturated_fat_g',), ('cholesterol_mg',), ('dietary_fiber_g',), ('salt_mg',), ('potassium_mg',))

In [58]:
# Find Food_name used class_num
## In 0~18
food_class = 0

## Result
cur=conn.cursor()
try:
    cur.execute(f"Select food_name From Food WHERE class_num={food_class};")
    food_name = cur.fetchall()
except:
    print('Error!')

# 확인
print(food_name)

(('잡곡밥',),)

In [37]:
# 영양소 확인 (Row)
cur=conn.cursor(pymysql.cursors.DictCursor)
try:
    cur.execute(f"Select * From Food WHERE class_num={food_class};")
    jabgokbab = cur.fetchall()
except:
    print('Error!')

# 확인
print(jabgokbab)

[{'class_num': 0, 'food_name': '잡곡밥', 'serving_size_g': 200.0, 'calorie_kJ': 1424.0, 'calorie_kcal': 340.0, 'carbohydrate_g': 73.47, 'sugar_g': 0.1, 'protein_g': 8.82, 'fat_g': 1.98, 'saturated_fat_g': 0.342, 'polyunsaturated_fat_g': 0.793, 'unsaturated_fat_g': 0.565, 'cholesterol_mg': 0.0, 'dietary_fiber_g': 3.9, 'salt_mg': 273.0, 'potassium_mg': 208.0}]

In [59]:
# TEST LABEL을 이용하여 식단 영양소 구하기
## TEST Label Sample
# TEST Label에는 Detect했을 때 저장되는 Label 형태로 3개가 들어가있음.
file_path = 'D:\Final_Project\Data\Test_label\\test_label.txt'
with open(file_path, 'r') as f:
    data = f.readlines()

label_list = []
for a in data:
    label_list.append(int(a.split(' ')[0]))
print(label_list)

[16, 8, 7]

In [46]:
# Query를 짜보자

# 문자열 제외한 컬럼들
cur=conn.cursor()
try:
    cur.execute("Select COLUMN_NAME From INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'Food' and data_type = 'float' order by ordinal_position;")
    fcolumns = cur.fetchall()
except:
    print('Error!')

# 식단 (Sample 16, 8, 7 의 영양분을 다 합친 값을 구할 예정)
# SELECT "요기" FROM FOOD WHERE "조기"
# 요기
label_list = list(set(label_list)) # 라벨리스트 > 집합 > 라벨리스트 를 통해 중복값을 제거 해줌.
columns_query = ''
for i in fcolumns:
    columns_query += 'sum(' + i[0] + '), '
columns_query = columns_query.rstrip(', ')

# 조기
where_query = ''
for i in label_list:
    where_query += 'class_num = ' + str(i) + " or "
where_query = where_query.rstrip(' or ')

query = 'SELECT ' + columns_query + ' FROM Food WHERE ' + where_query

# CHECK
query

'SELECT sum(serving_size_g), sum(calorie_kJ), sum(calorie_kcal), sum(carbohydrate_g), sum(sugar_g), sum(protein_g), sum(fat_g), sum(saturated_fat_g), sum(polyunsaturated_fat_g), sum(unsaturated_fat_g), sum(cholesterol_mg), sum(dietary_fiber_g), sum(salt_mg), sum(potassium_mg) FROM Food WHERE class_num = 16 or class_num = 8 or class_num = 7'

In [49]:
# 쿼리를 돌려보자
cur=conn.cursor()
try:
    cur.execute(query)
    score = cur.fetchall()
except:
    print('Error!')
print(score)

((520.0, 1690.0, 404.0, 72.09000015258789, 2.049999952316284, 15.46999979019165, 7.14000004529953, 1.3380000293254852, 2.1959999799728394, 2.2269999980926514, 14.0, 1.0, 1296.0, 398.0),)

In [51]:
# Test INSERT INTO meals
testid = 'testemail@gmail.com'
now = time.strftime('%Y-%m-%d %H:%M:%S')

valuestxt = "('" + testid + "', '" + now + "'"
for i in score[0]:
    valuestxt += ", "
    valuestxt += str(i)
valuestxt += ');'

insertquery = 'INSERT INTO meals VALUES ' + valuestxt

cur=conn.cursor()
try:
    cur.execute(insertquery)
    conn.commit()
except:
    print('Error!')

In [54]:
# INSERT CHECK
cur=conn.cursor(pymysql.cursors.DictCursor)
try:
    cur.execute("SELECT * FROM meals;")
    meals_check = cur.fetchall()
    meals_df = pd.DataFrame(meals_check)
except:
    print('Error!')

meals_df

,user_id,date_time,serving_size_g,calorie_kJ,calorie_kcal,carbohydrate_g,sugar_g,protein_g,fat_g,saturated_fat_g,polyunsaturated_fat_g,unsaturated_fat_g,cholesterol_mg,dietary_fiber_g,salt_mg,potassium_mg
0,testemail@gmail.com,2022-05-31 14:45:13,520.0,1690.0,404.0,72.09,2.05,15.47,7.14,1.338,2.196,2.227,14.0,1.0,1296.0,398.0

In [65]:
# Test Food Table
sql = "SELECT * FROM pred_in;"
cursor = conn.cursor(pymysql.cursors.DictCursor) # dataframe으로 만들기 편하게 하기 위해 Dictionary로 결과를 받는 커서
try:
    cursor.execute(sql)
    result = cursor.fetchall()
    print(result[0]) 
except:
    print('Error!!')

{'LQ_3EQL': 1, 'N_MUFA': 6.09679, 'TOTAL_SLP_WD': 480, 'HE_BMI': 21.4834, 'N_PHOS': 929.979, 'BD1_11': 4, 'HE_WT': 59.7, 'BP1': 4, 'N_FAT': 21.8152, 'BH1': 1, 'AGE': 76, 'N_CAROT': 764.156, 'BS13': 2, 'N_INTK': 846.982, 'N_EN': 1813.33, 'LQ_5EQL': 1, 'BE3_85': 1, 'N_WATER': 421.525, 'HE_HT': 166.7, 'N_CHOL': 131.72, 'N_NA': 2577.83, 'N_PROT': 56.5299, 'SEX': 1, 'BP7': 2, 'LQ_2EQL': 1, 'HE_DBP': 79, 'LQ_1EQL': 1, 'BE3_81': 2, 'N_SFA': 4.93401, 'ID': "b'A601169401'", 'HE_RPLS': 1, 'N_SUGAR': 17.247, 'SM_PRESNT': 0, 'L_BR_FQ': 1, 'HE_FH': 1, 'LQ_4EQL': 1, 'MH_STRESS': 0, 'LQ4_00': 2}